{% extends 'base.html.twig' %}

{% block title %}Product index
{% endblock %}

{% block body %}
<div class="p-8 flex flex-col gap-4">

    <div class="flex justify-between">
        <h1 class="text-[24px] font-bold text-(--title-color-secondary)">Produits & Services</h1>
        <a class="flex gap-4 items-center blue-btn" href="{{ path('app_product_new') }}">
            <i class="fa-solid fa-plus"></i>
            <p>Ajouter un produit</p>
        </a>
    </div>

    <twig:ProductList products="{{ products }}" />
</div>
{% endblock %}